<!DOCTYPE html>
<head id="Head">
    <%- include('common/head',{}) -%>
    <title>广州捷邦节能设备制造有限公司 </title>
</head>
<body class="font-zh-CN" style="">
    <%- include('common/js',{}) -%>
    <div id="wrapper" class="home-page">
        <!-- ==================== S top ==================== -->
        <%- include('common/menu',{}) -%>
        <!-- ==================== E top ==================== -->
        <!-- ==================== S header ==================== -->
        <div id="a1portalSkin_headerAreaA" class="header">
            <!-- Start_Module_74415 -->
            <a name="13319" id="13319"></a>
            <div class="module-default">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr7441574415_mainArea" class="module-content">
                        <!-- Start_Module_74415 -->
                        <!-- S slideshow -->
                        <div class="slideshow carousel clearfix" style="height: 550px; overflow: hidden;">
                            <div id="carousel-74415">
                                <div class="carousel-item">
                                    <div class="carousel-img">
                                        <a href="javascript:;" target="">
                                            <img src="Portals/897/_thumbs/eaf014e6-2f7b-4ec2-aabe-2c76a75e156a_0_550_UseHeight.jpg"
                                                height="550" alt="广州捷邦" /></a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-img">
                                        <a href="javascript:;" target="">
                                            <img src="Portals/897/_thumbs/dbd99d51-c7a0-44f9-9e7d-7856d58a79cd_0_550_UseHeight.jpg"
                                                height="550" alt="广州捷邦" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-btn carousel-btn-fixed" id="carousel-page-74415">
                            </div>
                        </div>

                        <script type="text/javascript">

                            $(window).bind("load resize", function () {
                                $("#carousel-74415").carouFredSel({
                                    width: '100%',
                                    items: { visible: 1 },
                                    auto: { pauseOnHover: true, timeoutDuration: 5000 },
                                    swipe: { onTouch: true, onMouse: true },
                                    pagination: "#carousel-page-74415"
                                    //prev   : { button:"#carousel-prev-74415"},
                                    //next   : { button:"#carousel-next-74415"},
                                    //scroll   : { fx : "crossfade" }
                                });
                            });
                        </script>

                        <!-- E slideshow -->
                        <!-- End_Module_74415 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================== E Header ==================== -->
        <!-- ==================== S main ==================== -->
        <section class="main">
            <div id="a1portalSkin_mainArea" class="full-screen clearfix">
                <!-- Start_Module_74407 -->
                <a name="13342" id="13342"></a>
                <!-- S module-full-screen -->
                <div class="module-full-screen" style="">
                    <div class="module-inner not-animated" data-animate="fadeInUp" data-delay="200">
                        <div class="page-width">
                            <div id="a1portalSkin_ctr7440774407_mainArea" class="module-full-screen-content">
                                <!-- Start_Module_74407 -->
                                <div class="qhd-module">
                                    <div class="column">
                                        <div class="col-3-1">
                                            <div id="a1portalSkin_ctr7440774407_Column2C33A67_QHDCPM74407M1" class="qhd_column_contain">
                                                <!-- Start_Module_74408 -->
                                                <a name="13343" id="13343"></a>
                                                <div class="module-default">
                                                    <div class="module-inner">
                                                        <div id="a1portalSkin_ctr7440774407_Column2C33A67_ctr7440874408_mainArea" class="module-content">
                                                            <!-- Start_Module_74408 -->
                                                            <div class="qhd-content">
                                                                <p>
                                                                    <a href="/contact" target="_blank">
                                                                        <img alt="关于我们" src="Portals/897/_thumbs/about.jpg" style="width: 270px; height: 337px;" /></a>
                                                                </p>
                                                            </div>
                                                            <!-- End_Module_74408 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3-2 last">
                                            <div id="a1portalSkin_ctr7440774407_Column2C33A67_QHDCPM74407M2" class="qhd_column_contain">
                                                <!-- Start_Module_74409 -->
                                                <a name="13344" id="13344"></a>
                                                <div class="module-default">
                                                    <div class="module-inner">
                                                        <div id="a1portalSkin_ctr7440774407_Column2C33A67_ctr7440974409_mainArea" class="module-content">
                                                            <!-- Start_Module_74409 -->
                                                            <div class="qhd-content">
                                                                <h3>
                                                                    <span style="color: #f30;">关于捷邦节能</span></h3>
                                                                <p>广州捷邦节能设备制造有限公司是一家成立于2014年12月的股份制民营企业，坐落在美丽的广州萝岗永和开发区新庄工业园，厂房面积3800平方米，注册资金500万元人民币，公司始终坚持以“科技创新、合作共赢、诚信高效、优质服务”为理念，为广大客户提供安全、优质高效节能的热交换器，以创新与品牌打造企业。广州捷邦节能设备制造有限公司专业从事管壳式热交换器的生产和销售，公司拥有多台进口CNC加工中心、二氧化碳气体保护焊机、胀管机等生产设备，现有多年行业设计、生产经验丰富的工程师多名、相关资质的持证焊工多名和一批从事多年换热器生产和销售的业内精英，为捷邦产品立足于市场提供了强有力的保障。我公司根据实际情况不定期组织质量专题会议，进行较为全面的管理评审。针对压力容器现场制造过程的质量问题进行统计和归纳总结，找出真正的原因，给出预防措施。公司的整个生产经营活动是以产品质量作为主线和重点加以跟进和控制。因为产品质量是企业的生命线，没有质量，企业也就没有了明天，更何况压力容器产品的质量关系到人民的生命财产安全呢？所以，我们一直都在关注、重视压力容器的产品质量。  “没有最好的，只有更好的”。在捷邦公司上下全体员工的共同努力下，捷邦公司一定会制造出“用户满意、质量优良、安全可靠”的压力容器产品。</p>
                                                                <p style="text-align: right;">
                                                                    <a class="btn-medium btn-medium-main" href="/about_01" target="_blank" title=""><span>查看详情 &gt;&gt;</span></a>
                                                                </p>
                                                            </div>
                                                            <!-- End_Module_74409 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End_Module_74407 -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- E module-full-screen -->
                <!-- Start_Module_74410 -->
                <a name="13345" id="13345"></a>
                <!-- S module-full-screen -->
                <div class="module-full-screen module-full-screen-gray module-full-screen-bg-img" style="background-image: url(Portals/897/Images/Module/8a8f5963-191c-48f4-a87c-657bdc9d44a3.jpg);">
                    <div class="module-inner not-animated" data-animate="fadeInDown" data-delay="200">
                        <div class="page-width">
                            <div class="module-full-screen-title">
                                <div class="module-title-content">
                                    <i class="mark-left"></i>
                                    <h2>产品展示</h2>
                                    <i class="mark-right"></i>
                                </div>
                            </div>
                            <div id="a1portalSkin_ctr7441074410_mainArea" class="module-full-screen-content">
                                <!-- Start_Module_74410 -->
                                <!-- S portfolio-list -->
                                <div class="portfolio-list product-list">
                                    <ul class="column marg-per2 clearfix">
                                        <% for (int k = 0; k < plist.length; k++) { %>
                                            <% if(k==plist.length-1){ %>
											 <li class="col-5-1 not-animated last" data-animate="fadeInUp" data-delay="<%= 200*(k+1) %>">
											<% }else{ %>
											 <li class="col-5-1 not-animated" data-animate="fadeInUp" data-delay="<%= 200*(k+1) %>">
											<% } %>
                                       
                                            <div class="product-item">
                                                <div class="portfolio-img">
                                                    <a href="/product?id=<%= plist[k].ID %>" target="_blank">
                                                        <img style="width: 185px; height: 185px" src="<%=plist[k].url %>" alt="<%=plist[k].alt %>" />
                                                    </a>
                                                </div>
                                                <div class="portfolio-title">
                                                    <h2><a href="/product?id=<%= plist[k].ID %>" target="_blank">
                                                        <%= plist[k].alt %></a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </li>
                                        <% }
                                        %>
                                    </ul>

                                    <ul class="column marg-per2 clearfix">
                                        <% for (int k = 0; k < plist.length; k++){ %>
                                            <% if(k==plist.length-1){%>
											 <li class="col-5-1 not-animated last" data-animate="fadeInUp" data-delay="<%=200*(k+1) %>">
											<% }else{ %>
											 <li class="col-5-1 not-animated" data-animate="fadeInUp" data-delay="<%=200*(k+1) %>">
                                            <% } %>
                                            
                                            <div class="product-item">
                                                <div class="portfolio-img">
                                                    <a href="product.aspx?id=<%=plist[k].ID %>" target="_blank">
                                                        <img src="<%=plist[k].url %>" alt="<%= plist[k].alt %>" />
                                                    </a>
                                                </div>
                                                <div class="portfolio-title">
                                                    <h2><a href="product.aspx?id=<%=plist[k].ID %>>" target="_blank">
                                                        <%= plist[k].alt %></a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </li>
                                        <% } %>
                                    </ul>

                                </div>
                                <!-- E portfolio-list -->
                                <!-- End_Module_74410 -->
                            </div>
                            <div class="module-full-screen-more">
                                <a href="/plist" target="_blank">查看更多产品 >> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- E module-full-screen -->
                <!-- Start_Module_74411 -->
                <a name="13346" id="13346"></a>
                <!-- S module-full-screen -->
                <div class="module-full-screen" style="">
                    <div class="module-inner not-animated" data-animate="fadeInUp" data-delay="200">
                        <div class="page-width">
                            <div class="module-full-screen-title">
                                <div class="module-title-content">
                                    <i class="mark-left"></i>
                                    <h2>最新资讯</h2>
                                    <i class="mark-right"></i>
                                </div>
                            </div>
                            <div id="a1portalSkin_ctr7441174411_mainArea" class="module-full-screen-content">
                                <!-- Start_Module_74411 -->
                                <!-- S headlines-list-2col -->


                                <!-- E headlines-list-2col -->
                                <!-- End_Module_74411 -->
                            </div>
                            <div class="module-full-screen-more">
                                <a href="http://gzjbjn.com" target="_blank">查看更多 >> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- E module-full-screen -->
                <!-- Start_Module_74412 -->
                <a name="13347" id="13347"></a>
                <!-- S module-full-screen -->
                <div class="module-full-screen module-full-screen-gray" style="">
                    <div class="module-inner not-animated" data-animate="fadeInDown" data-delay="200">
                        <div class="page-width">
                            <div id="a1portalSkin_ctr7441274412_mainArea" class="module-full-screen-content">
                                <!-- Start_Module_74412 -->
                                <div class="qhd-module">
                                    <div class="column">
                                        <div class="col-2-1">
                                            <div id="a1portalSkin_ctr7441274412_Column2C50A50_QHDCPM74412M1" class="qhd_column_contain">
                                                <!-- Start_Module_74413 -->
                                                <a name="13348" id="13348"></a>
                                                <div class="module-default">
                                                    <div class="module-inner">
                                                        <div id="a1portalSkin_ctr7441274412_Column2C50A50_ctr7441374413_mainArea" class="module-content">
                                                            <!-- Start_Module_74413 -->
                                                            <div class="qhd-content">
                                                                <h3>
                                                                    <span style="color: #f30;">联系我们</span></h3>
                                                                <p>
                                                                    <img alt="" src="Portals/897/staticfile/default/c3737d82-044f-4e2a-9ef4-1c2b0676fe03.png" />&nbsp; 电话：020-3296 8908
                                                                </p>
                                                                <p>
                                                                    <img alt="销售直线" src="Portals/897/staticfile/default/c3737d82-044f-4e2a-9ef4-1c2b0676fe03.png" style="width: 24px; height: 24px;" />&nbsp; 销售直线：杨喜：13610166869&nbsp;&nbsp;&nbsp; 范欣：13802964559
                                                                </p>
                                                                <p>
                                                                    <img alt="" src="Portals/897/staticfile/default/10b2afac-ab87-49af-a8c1-6eeca99ebb36.png" />&nbsp; 传真：020-3296 8278
                                                                </p>
                                                                <p>
                                                                    <img alt="" src="Portals/897/staticfile/default/ee9fa074-b991-4f9a-adbd-be2cc96b1910.png" />&nbsp; 邮编：518105
                                                                </p>
                                                                <p>
                                                                    <img alt="" src="Portals/897/staticfile/default/88cbeb0a-905a-468c-ab58-be494ae17cfa.png" />&nbsp; 邮箱：318559961@qq.com
                                                                </p>
                                                                <p>
                                                                    <img alt="" src="Portals/897/staticfile/default/f0077976-afbd-4d03-b4bd-115572ed517b.png" />&nbsp; 地址：广州市萝岗区永和街田园路84号C座
                                                                </p>
                                                            </div>
                                                            <!-- End_Module_74413 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2-1 last">
                                            <div id="a1portalSkin_ctr7441274412_Column2C50A50_QHDCPM74412M2" class="qhd_column_contain">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End_Module_74412 -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- E module-full-screen -->
            </div>
            <!-- end of page-width -->
        </section>
        <!-- ==================== E main ==================== -->
        <!-- ==================== S footer ==================== -->
        <!--#include file="footer.html"-->
        <!-- ==================== E footer ==================== -->
        <!-- ==================== S bottom ==================== -->
        <section class="bottom">
            <div id="a1portalSkin_bottomAreaA" class="QHDEmptyArea page-width clearfix"></div>
        </section>
        <!-- ==================== E bottom ==================== -->

        <!-- end of wrapper -->
        <!--#include file="rightslide.html"-->
    </div>
</body>