<!DOCTYPE html>
<html class="smart-design-mode">
<head id="Head">
  <title><%= title%> </title>
  <meta name="description" content="<%=company.description %>" />
  <meta name="keywords" content="<%=company.keywords %>" />
  <%- include('head',{}) -%>
</head>
<body id="smart-body" area="main">
    <div id="mainContentWrapper" style="background-color: transparent; background-image: none; background-repeat: no-repeat;background-position:0 0; background:-moz-linear-gradient(top, none, none);background:-webkit-gradient(linear, left top, left bottom, from(none), to(none));background:-o-linear-gradient(top, none, none);background:-ms-linear-gradient(top, none, none);background:linear-gradient(top, none, none);;
    position: relative; width: 100%;min-width:1000px;background-size: auto;" bgScroll="none">
      <%- include('menu',{url: url, company:company}) -%>
      <!-- ==================== S main ==================== -->
      <% if(mainObj){ %>
        <%- include(mainObj.templatePath) -%>
      <% } %>
      <!-- ==================== E main ==================== -->
      <!-- ==================== S footer ==================== -->
      <%- include('footer',{})%>
      <!-- ==================== E footer ==================== -->
    </div>
      <%- include('js',{}) -%>
</body>
</html>